<div class="mx-auto w-full flex inset-1 py-8 px-6 sm:px-6 lg:px-8">
  <div class="mx-auto w-2/3">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="inline-flex flex-nowrap">
      <img class="h-20 w-20 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" alt="">
      <div class="flex-col ml-6 mt-1">
        <h2 class="text-lg">
          <%= @user.email %>
        </h2>
        <p class="italic text-md mt-1">Drinking so much coffee he's about to fall on the floor</p>
      </div>
    </div>
    <div class="w-full mt-8">
      <%= render @user.posts %>
    </div>
  </div>
</div>
<aside class="hidden relative xl:flex xl:flex-col flex-shrink-0 w-96 border-l border-gray-200 overflow-y-auto bg-blue-400">
  <!-- Start secondary column (hidden on smaller screens) -->
  <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8 text-white">
    <div class="h-1/2 w-full">
      <h4 class="font-bold">
        Followers
      </h4>
      <div class="mt-4 overflow-y-auto h-4/5">
        <% if @user.followers.any? %>
          <%= render "inline_profile", collection: @user.followers, enableFollowUnfollow: true %>
        <% else %>
          <% if @is_current_user %>
            You haven't followed anyone just yet. Find people from the 'Discover' tab!
          <% else %>
            Nobody follows this user yet. Be the first!
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="h-1/2 w-full">
      <h4 class="font-bold">
        Follows
      </h4>
      <div class="mt-4 overflow-y-auto h-4/5">
        <% if @user.given_follows.any? %>
          <%= render "inline_profile", collection: @user.followers, enableFollowUnfollow: true %>
        <% else %>
          <% if @is_current_user %>
            Nobody's following you just yet.
          <% else %>
            This user hasn't followed anyone yet
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- End secondary column -->
</aside>
