<!DOCTYPE html>
<html>
  <head>
    <title>Twitterclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="inline-flex h-screen w-screen flex-nowrap">
    <%= render "layouts/navbar" %>
    <div class="flex-1 relative z-0 flex overflow-hidden">
      <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
        <!-- Start main area-->
        <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
          <div class="h-full rounded-lg">
            <%= yield %>
          </div>
        </div>
        <!-- End main area -->
      </main>
    </div>
  </body>
</html>
