<!DOCTYPE html>
<html>
  <head>
    <title>Twitterclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>
  <body class="inline-flex h-screen w-screen flex-nowrap">
    <% if current_user %>
      <%= render "layouts/navbar", current_user: current_user %>
    <% end %>
    <div class="flex-1 relative z-0 flex overflow-hidden">
      <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
        <!-- Start main area-->
        <div class="flex flex-nowrap h-full w-full">
          <%= yield %>
        </div>
        <!-- End main area -->
      </main>
    </div>
  </body>
</html>
